.button-home{
    color: white;
    background-color: transparent;
    font-family: JetBrains Mono,Menlo,Droid Sans Mono,monospace;
    border-color: transparent;
    font-weight: 600;
} 

.button-home:hover{
    color: #6a52fd;
} 

.navbar-home{
    margin-left: 10%;
} 